<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration - Java Academy</title>
    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>User Registration</h1>
    <hr>

    <form action ="#" th:action="@{/process_register}" method="post"
          th:object="${user}">


        <input type="text" class="form-control mb-4 col-4" th:field="*{userName}" required
               placeholder="User Name"
               minlength="2" maxlength="20"/>


        <input type="password" class="form-control mb-4 col-4" th:field="*{pwd}" required
               placeholder="Password"
               minlength="4" maxlength="10"/>


        <input type="text" class="form-control mb-4 col-4" th:field="*{name}" required
               placeholder="Name"
               minlength="2" maxlength="20"/>

        <button type="submit" class="btn btn-primary col-2"> Sign up</button>

    </form>
    <hr>
</div>

</body>
</html>