<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Update </title>

    <link crossorigin="anonymous"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">

</head>
<body>
<div class="container">
    <h1>Update User Form</h1>
    <hr>
    <h2> Update User</h2>

    <form action="#" method="POST" th:action="@{/process_update}"
          th:object="${user}">

        <input type="hidden" th:field="*{id}">

        <input type="hidden" th:field="*{userName}" class="form-control mb-4 col-4"  >


        <input type="text" required th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4">


        <input type="password" required  th:field="*{pwd}" placeholder="Password" class="form-control mb-4 col-4" >



        <button type="submit" class="btn btn-primary col-2"> Update User</button>

    </form>
    <hr>
    <a th:href = "@{/login}"> Back to User List</a>

</div>


</body>
</html>